body {
    overflow-y: scroll;
    height: auto;
}

.chart-container {
    height: auto; /* Ajustez la hauteur selon vos besoins */
}

.chart-title {
    text-align: center;
    font-size: 30px;
    margin-top: 35px;
    margin-left: 650px;
    color: #ED8F00;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

}

.chartData {
    width: 44px;
}

.chart {
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 15px;
    padding: 10px;
    height: 310px;
    width: 1000px;
    margin-left: 130px;
    margin-top: 390px;
}

.link-no-underline {
    text-decoration: none;
}

.big-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    background-color: #ED8F00;
    opacity: 0.7;
    height: 120px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: -490px;
    margin-left: 260px;

}

.big-button2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    background-color: #ED8F00;
    opacity: 0.7;
    height: 120px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: -126px;
    margin-left: 590px;

}

.icon {
    font-family: 'Font Awesome 5 Free';
}

.big-button:hover {
    background-color: #FFC34D; /* Couleur correspondante pour l'effet hover */
    opacity: 1; /* Opacité à 1 pour l'effet hover */
}

.big-button2:hover {
    background-color: #FFC34D; /* Couleur correspondante pour l'effet hover */
    opacity: 1; /* Opacité à 1 pour l'effet hover */
}

.icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 34px;
}

.status-box {
    display: flex;
    flex-direction: row;
    background-color: #B73E3E;
    padding: 4vh;
    border-radius: 20px;
    margin-left: 25vw;
    flex-wrap: wrap;
    width: 45vw;
    justify-content: space-between;
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
}


.status-label {
    font-weight: bold;
    color: #FFF;
    margin-right: 4.1vw;
}

.status-details {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 12px;
}

.status-count {
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
    transform: translate(3.5vh,-10vw);
}

.status-rate {
    font-style: italic;
}

.status-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-label {
    font-weight: bold;
}


.status-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.status-details {
    display: flex;
    align-items: center;
}


.status-chart {
    width: 60px;
    height: 60px;
}





.user-box {
    position: absolute;
    top: 50px;
    left: 260px;
    padding: 10px;
    background-color: #ED8F00;
    opacity: 0.7;
    color: white;
    font-size: 16px;
    width: 800px;
    height: 119px;
    border-radius: 16px 16px 0 0;
}

.avatar {
    width: 200px;
    height: 180px;
    position: absolute; /* Position absolue par rapport à son conteneur */
    top: -41px; /* Ajustez la valeur selon vos besoins */
    left: 620px;
}

.fnamee-admin {
    margin-top: 44px;
}

@media screen and (max-width: 768px) {

    .user-box {
        top: 94px; /* Adjust this value to position the box vertically */
        left: 45px; /* Adjust this value to position the box horizontally */
        width: 80vw;
        height: 10vh;
        border-radius: 0;
    }

    .user-box h1 {
        z-index: 3;
    }

    .avatar {
        width: 35vw;
        height: 15vh;
        left: 58.5%;
        top: -21%;
    }

    .fnamee-admin {
        position: relative;
        margin-top: 20px;
        font-size: 28px;
        margin-left: 20px;
    }


    .sidebar-admin{
        background-color: transparent;
    }

    .mobile-wrapper {
        display: flex;
        flex-direction: column;
    }

    .big-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        background-color: #ED8F00;
        opacity: 0.7;
        height: 8vh;
        background-size: cover;
        background-position: center;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 0;
        cursor: pointer;
        margin-top: -50vh;
        margin-left: -2vh;
    }

    .second-big-button {
        top: 10vh;
    }

    /*.big-button2 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        background-color: #ED8F00;
        opacity: 0.7;
        height: 120px;
        background-size: cover;
        background-position: center;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        margin-top: -122px;
        margin-left: 200px;

    }*/
    .chart-container {
        height: 20vh; /* Ajustez la hauteur selon vos besoins */
    }

    .chart-title {
        text-align: center;
        font-size: 30px;
        margin-top: 35px;
        margin-left: 650px;
        color: #ED8F00;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    .chartData {
        width: 44px;
    }

    .chart {
        background-color: rgba(245, 245, 245, 0.85);
        border-radius: 0;
        padding: 10px;
        height: 25vh;
        width: 73vw;
        margin-left: 70px;
        margin-top: 440px
    }

    .link-no-underline {
        text-decoration: none;
    }

    .status-box {
        display: flex;
        flex-direction: row;
        background-color: #B73E3E;
        padding: 4vh;
        border-radius: 20px;
        margin-left: 25vw;
        flex-wrap: wrap;
        width: 45vw;
        justify-content: space-between;
        height: 35vh;
        margin-top: 10vh;

    }

    .status-item{
        min-width: 50vw;
        margin-bottom: 1vh;
    }

    .status-count{
        margin-left: 9vw;
        transform: translate(-1.5vh,-10.5vw);
    }
    .status-chart {
        margin-left: 10vw;
    }


}
