@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* body{background-color: transparent;} */

.main-page {
    width: 1250px;
    height: 770px;
    left: 70px; /* Ajustez cette valeur en fonction de vos besoins */
    top: 0;
    background: rgb(255, 255, 255);
}


.sidebar-admin {
    position: fixed;
    width: 70px;
    height: 770px;
    left: 0px;
    top: -7px;
    background: #B73E3E;
    box-shadow: #131111;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: #B73E3E;
    z-index: 1000;

}

.icone-wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 4vw;
}

.icone-css {
    width: 34px;
    height: 34px;
    margin-bottom: 33px;
    margin-top: 100px;
    margin-left: 16px;
    transition: transform 0.3s ease;
}


.icone-texte {
    position: absolute;
    top: 105px;
    left: 200%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: rgba(243, 205, 136, 0.91);
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: white;
}

.icone-wrapper:hover .icone-css {
    transform: scale(1.2);
}

.icone-wrapper:hover .icone-texte {
    opacity: 1;
}


.icone-logo {
    width: 40px;
    height: 63px;
    margin-top: 49px;
    margin-left: 15px;
}

.icone-css1 {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    transition: transform 0.3s ease;
    margin-left: 16px;
}

.icone-texte-valid {
    position: absolute;
    top: 5px;
    left: 170%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: rgba(243, 205, 136, 0.91);
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: white;
}

.icone-wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.icone-wrapper:hover .icone-css1 {
    transform: scale(1.2);
}

.icone-wrapper:hover .icone-texte-valid {
    opacity: 1;
}

.icone-texte-products {
    position: absolute;
    top: 39px;
    left: 220%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: rgba(243, 205, 136, 0.91);
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: white;
}

.icone-css2 {
    width: 39px;
    height: 39px;
    margin-right: 8px;
    transition: transform 0.3s ease;
    margin-left: 16px;
    margin-top: 30px;
}

.icone-wrapper:hover .icone-css2 {
    transform: scale(1.2);
}

.icone-wrapper:hover .icone-texte-products {
    opacity: 1;
}

.icone-texte-deliv {
    position: absolute;
    top: 39px;
    left: 220%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: rgba(243, 205, 136, 0.91);
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: white;
}

.icone-css3 {
    width: 39px;
    height: 39px;
    margin-right: 8px;
    transition: transform 0.3s ease;
    margin-left: 16px;
    margin-top: 30px;
}

.icone-wrapper:hover .icone-css3 {
    transform: scale(1.2);
}

.icone-wrapper:hover .icone-texte-deliv {
    opacity: 1;
}

.icone-css4 {
    width: 29px;
    height: 29px;
    margin-right: 8px;
    transition: transform 0.3s ease;
    margin-left: 19px;
    margin-top: 200px;
}

.icone-wrapper:hover .icone-css4 {
    transform: scale(1.2);
}

.icone-wrapper:hover .icone-texte-logout {
    opacity: 1;
}

.icone-texte-logout {
    position: absolute;
    top: 199px;
    left: 190%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: rgba(243, 205, 136, 0.91);
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: white;
}

.hamburger-icon {
    display: none; /* Hide the icon on non-mobile screens */
    cursor: pointer;
    /* Add styles for your hamburger icon here */
    position: absolute; /* Position the icon */
    top: 50px; /* Adjust the top position as needed */
    right: 19px; /* Adjust the right position as needed */
    font-size: 24px; /* Adjust the icon size as needed */
    color: #601414; /* Adjust the icon color as needed */
    z-index: 100;
    width: 34px;
    height: 34px;
    /* Set a higher z-index to make sure it's on top of other elements */
}

.hamburger-icon.active {
    color: white; /* Change the color when the sidebar is open */
}

@media screen and (max-width: 768px) {


    .hamburger-icon {
        display: block; /* Show the icon on mobile screens */

    }

    .hamburger-icon.active {
        color: white; /* Change the color when the sidebar is open */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -70%; /* Start the sidebar off-screen on mobile */
        width: 13%;
        height: 100vh;
        background: #B73E3E;
        box-shadow: #131111;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: #B73E3E;
        transition: left 0.3s ease; /* Add a smooth transition */
        padding-top: 80px; /* Add padding at the top to keep content below */
        padding-right: 3.5vw;
    }

    /* Styles for the opened sidebar on mobile */
    .sidebar-open {
        left: 0; /* Slide the sidebar in from the left on mobile */
        z-index: 2;

    }

    .icone-css4 {
        margin-bottom: 90%;
    }

    .sidebar-admin {
        position: fixed;
        width: 70px;
        height: 770px;
        left: 0px;
        top: -7px;
        background: #ffffff;
        box-shadow: #131111;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: #ffffff;

    }

    .icone-logo {
        display: none;
    }

}